@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
* {
    color: white;
    font-family: 'Jost', sans-serif;
}

body {
    background-color: #292c30;
    background-image: url("../assets/img/yo.jpg");
    background-repeat: no-repeat;
    background-size: 45%;
    background-blend-mode: exclusion;
    object-fit: contain;
    background-attachment: fixed;
}

.navbar {
    background-color: #585D65 !important;
}

.navbar a {
    color: white !important;
}

.nav-item a {
    font-size: 0.85rem;
}

.block {
    border: 1px solid red;
}

#AcercaDeMi {
    margin-top: 7rem;
}

#AcercaDeMi h4 {
    text-align: center;
    font-weight: bolder;
}

.colorSecundario {
    color: rgba(87, 216, 87, 0.623);
}

#AcercaDeMi p {
    text-align: justify;
    line-height: 2rem;
}

#AcercaDeMi h6 {
    text-align: start;
    line-height: 2rem;
}


/* circulo de porcentaje */


/* Apply CSS properties to ui-widgets class */

.ui-widgets {
    position: relative;
    display: inline-block;
    width: 7rem;
    height: 7rem;
    border-radius: 9rem;
    margin: 1.5rem;
    border: 0.5rem solid palegreen;
    box-shadow: inset 0 0 7px grey;
    border-left-color: rgba(87, 216, 87, 0.623);
    border-top-color: rgba(87, 216, 87, 0.623);
    border-right-color: rgba(87, 216, 87, 0.623);
    border-bottom-color: #292c30;
    text-align: center;
    box-sizing: border-box;
}


/*  Apply css properties to the second 
    child of ui-widgets class */

.ui-widgets:nth-child(3) {
    border-top-color: rgba(87, 216, 87, 0.623);
    border-right-color: #292c30;
    border-left-color: rgba(87, 216, 87, 0.623);
    border-bottom-color: #292c30;
}

.ui-50 {
    border-top-color: rgba(87, 216, 87, 0.623);
    border-right-color: #292c30;
    border-left-color: rgba(87, 216, 87, 0.623);
    border-bottom-color: #292c30;
}


/*  Apply css properties to ui-widgets class 
    and ui-values class*/

.ui-widgets .ui-values {
    top: 40px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 1.5rem;
}


/*  Apply css properties to ui-widgets 
    class and ui-labels class*/

.ui-widgets .ui-labels {
    left: 0;
    bottom: -16px;
    color: #fff;
    position: absolute;
    width: 100%;
    font-size: 0.6rem;
}